<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
     <style>
       .center {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         font-size: 128px;
         font-family: Verdana, Helvetica, Arial, Sans-Serif;
       }
     </style>
   </head>
   <body>
     <div class="center">{{ status }}</div>
   </body>
</html>
